spring:
  datasource:
    url: jdbc:postgresql://${DATABASE_URL:localhost}:${DATABASE_PORT:5429}/${DATABASE_NAME:traker}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver


  docker:
    compose:
      enabled: false

  server:
    address: 0.0.0.0
    port: 8080

  jpa:
    show-sql: ${SHOW_SQL:true}
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yml

springdoc:
  swagger-ui:
    path: /swagger
# spring.application.name=traker

jwt:
  secret: MzJqOUtMbVBxWHJZeFo4elc1dk4ydFk1dUIzblFlSjljQThkRjZnSDRpTTFw
  access_token_expiration: 86400000 # 24 часа в миллисекундах
  refresh_token_expiration: 604800000 # 7 дней в миллисекундах

auth:
  token_type: Bearer
  scope: api.read api.write

app:
  security:
    master-key: ${APP_MASTER_KEY:V2FsbGV0Qm9sdFNlY3VyZUtleTIwMjQ=}